node_modules
dist
dist-ssr
*.local
.vscode/*
!.vscode/extensions.json
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local logs
dev.log
dev.err.log
preview.log
preview.err.log
logo-original-backup.png
